:root{
    box-sizing: border-box;
}

.content{
    display:grid;
    grid-template-areas: "sidebar header" "sidebar body";
    grid-template-columns: 2fr 6fr;

}
.content>*{
    border: 1px solid red;
}

.header{
    grid-area: header;
    display:flex;
    justify-content: space-around;
}

.sidebar{
    grid-area: sidebar;
}

.body{
    grid-area: body;
}

.sidebar>.todo>*{
    border:1px solid blue;
}

.list{ 
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projectDisplay>*{
    border:1px solid purple;

}

.projectDisplay{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.toDoDisplay>*{
    display: grid;
    grid-template-columns: 1.5fr 1fr .5fr;
    border:1px solid green;

}

.deleteToDo{
    width: 25px;
    height: 25px;
}

